@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 5px; /* Controls the height of the scrollbar */
}

/* Scrollbar Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #424242;
  border-radius: 50px;
  margin: 0 150px; /* Adds spacing on both sides */
}

/* Scrollbar Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fce469;
  border-radius: 50px;
}
